<!Doctype html>
<html  xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>formulaire</title>
	</head>
	<body>
		<h2>Formulaire </h2>
			   
		<form method="post" th:action="@{/saveEmployee}" th:object="${employee}">
			<div>
			  <label>first Name</label>
		         <input type="text" th:field="*{firstName}"> 
		    </div> 
		   		    
		    <div>
			  <label>last Name</label>
		         <input type="text" th:field="*{lastName}"> 
		    </div> 
		    		 		  
		    <div>
			  <label>Email</label>
		         <input type="text" th:field="*{mail}"> 
		    </div> 
		   	   
		    <div>
			  <label>Password</label>
		         <input type="password" th:field="*{password}"> 
		    </div> 
		    		    
	        <button type="submit" > Créer </button>
	   </form>  
    </body>	
</html>